.screen-size:after {
    content: "large";
    position: fixed;
    left: -9999px;
}

html {
    background-color: #33928C;
    color: #ffffff;
    height: 100%;
}

body {
    color: #a7a7a7;
    font-size: 12pt;
    font-family: 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    font-weight: 400;
    min-width: 1024px;
    min-height: 748px;
    height: 100%;
    margin: 0;
    
}

a,
a:link,
a:visited,
a:active,
a:hover {
    color: #333333;
    outline: none;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
}

header, footer, hgroup,
nav, section {
    display: block;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: " ";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

h1, h2, h3,
h4, h5, h6 {
    color: #a7a7a7;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

    h5 a:link, h5 a:visited, h5 a:active {
        padding: 0;
        text-decoration: none;
    }


/* main layout
----------------------------------------------------------*/

.phone-switcher, .tablet-hide {
    display: none;
}

.content-wrapper {
    margin: 0;
    max-width: 960px;
}

.dashboard-header {
    position: absolute;
    width: 100%;
    min-width: 1024px;
    height: 46px;
    padding: 6px 0 0 0;
    background: rgba(0, 128, 0, 0.9);
}

.dashboard-header .supervisor-info {
    margin: 0 0 0 25px;
    width: 257px;
    float: left;
    color: rgba(255,255,255, .45);
    font-size: 24px;
    font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    font-weight: 200;
}

.supervisor-info .avatar {
    background-image: url(../img/user.png);
    width: 36px;
    height: 36px;
    margin: 0px 12px 0 0;
    float: left;
    -moz-background-size: 36px 36px;
    -o-background-size: 36px 36px;
    -webkit-background-size: 36px 36px;
    background-size: 36px 36px;
    background-repeat: no-repeat;
}

.supervisor-info .name {
    padding: 4px 0 0 0;
}

.dashboard-header .dashboard-title {
    margin: 0 0 0 250px;
    padding: 4px 20px 0 27px;
    height: 34px;
    border: 0px solid rgba(255,255,255,0.20);
    border-width: 0 0 0 1px;
}

.dashboard-title h1 {
    color: #ffffff;
    font-size: 24px;
    font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    font-weight: 200;
}

.dashboard-title .date {
    float: right;
    padding: 0;
    color: rgba(255,255,255, .45);
    font-size: 18px;
    font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    font-weight: 200;
}

.dashboard-title .date a {
    color: #ffffff;
    font-size: 20px;
    font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
    font-weight: 200;
    

}

.dashboard-navigation {
    margin: 52px 0 0 0;
    width: 250px;
    height:829px;   
    float: left;
    position: absolute;
    top: 0px;
    bottom: 0px;
    background-color: rgba(0, 128, 0, 0.9);
    
}

.dashboard-navigation .footer-logo {
    position: absolute;
    bottom: 20px;
    left: 60px;
    width: 155px;
    height: 30px;
    background-image: url(../img/Logo.png);
    -moz-background-size: 155px 30px;
    -o-background-size: 155px 30px;
    -webkit-background-size: 155px 30px;
    background-size: 155px 30px;
}

.dashboard-navigation ul {
    list-style: none;
    border: 0px solid rgba(255,255,255,0.15);
    border-width: 1px 0 0 0;
}

.navigation-item {
    cursor: pointer;
    height: 44px;
    border: 0px solid rgba(255,255,255,0.15);
    border-width: 0 0 1px;
    padding: 18px 20px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    
}

.navigation-item.active,
.navigation-item:hover {
    background-color: rgba(255,255,255,0.1);
}

.navigation-item .icon {
    float: left;
    width: 44px;
    height: 44px;
    -moz-background-size: 44px 44px;
    -o-background-size: 44px 44px;
    -webkit-background-size: 44px 44px;
    background-size: 44px 44px;
    background-repeat: no-repeat;
    margin: 0 10px 0 0;
}
    
/*Internal Audit*/
.navigation-item .icon.documents {
    background-image: url(../img/Icons/Document.png);
}
    
.navigation-item .icon.transactions {
    background-image: url(../img/Icons/Transaction.png);
}

.navigation-item-icon-plus {
	background-image: url(../img/Icons/icon_plus.png);
        background-repeat: no-repeat;
        background-position: 96% center;
}

.navigation-item-icon-minus {
	background-image: url(../img/Icons/icon_minus.png);
        background-repeat: no-repeat;
        background-position: 96% center;
}

.navigation-item-left-arrow {
	background-image: url(../img/Icons/left-arrow.png);
        background-repeat: no-repeat;
        background-position: 96% center;
}

.navigation-item-down-arrow {
	background-image: url(../img/Icons/down-arrow.png);
        background-repeat: no-repeat;
        background-position: 96% center;
}

/* Sub menu */
.dashboard-navigation ul ul {
	display: none;
	background: rgba(255,255,255,0.1);
	border-right: 1px solid rgba(255,255,255,0.1);;
	border-left: 1px solid rgba(255,255,255,0.1);;
}

.dashboard-navigation ul ul li {
	padding: 0;
	border-bottom: 1px solid rgba(255,255,255,0.1);
	border-top: none;
}

.dashboard-navigation ul ul li:active,
.dashboard-navigation ul ul li:hover
{
	
	background: rgba(255,255,255,0.1);
	
}

.dashboard-navigation ul ul li:last-child {
	border-bottom: none;
}

.dashboard-navigation ul ul a {
	padding: 10px 10px 10px 25px;
	display: block;
	color: #EFEFEF;
	font-size: 12;
	font-weight: normal;
}

.dashboard-navigation ul ul a:before {
	position: absolute;
	left: 10px;
	color: #FFFFFF;
}

.dashboard-navigation ul ul a:hover {
	color: #FFFFFF;
}


/*Internal Audit*/

    
        
    .navigation-item .icon.dashboard {
        background-image: url(../img/Icons/Sales.png);
    }

    .navigation-item .icon.products {
        background-image: url(../img/Icons/Products.png);
    }

    .navigation-item .icon.sectors {
        background-image: url(../img/Icons/Sectors.png);
    }

    .navigation-item .icon.regions {
        background-image: url(../img/Icons/Regions.png);
    }

    .navigation-item .icon.dailysales {
        background-image: url(../img/Icons/Daily-Sales.png);
    }

    .navigation-item .icon.channels {
        background-image: url(../img/Icons/Channels.png);
    }

    .navigation-item .icon.geography {
        background-image: url(../img/Icons/Geography.png);
    }

    .navigation-item h2 {
        color: #ffffff;
        font-size: 20px;
        font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Helvetica, 'Droid Sans', Tahoma, Geneva, sans-serif;
        font-weight: 200;
        margin: 0 0 3px 0;
    }

.main-content {
    margin: 0 0 0 50px;
    height: 880px;    
    background: rgba(104, 196, 175,0.7);
    padding: 0;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    
}

.dashboard-content {
    padding: 50px 0 0 170px;
}

.block-header {
    height: 17px;
    position: relative;
    margin: 0 0 5px;
    width: 2000px;
}

    .block-header h3 {
        float: left;
        color: #a8a8a8;
        font-size: 18px;
        margin-right: 8px;
        z-index: 10;
        max-height: 20px;
    }

    .block-header .hr {
        border-bottom: 1px solid #d4d4d4;
        float: left;
        display: inline-block;
        height: 10px;
        width: 1600px;
    }

.layout-box {
    width: 100%;
    float: left;
    margin: 0;
}

    .layout-box.lb-1 {
        width: 50%;
        min-width: 350px;
        max-width: 800px;
    }

    .layout-box.lb-2 {
        width: 89px;
        margin: 0;
    }

    .layout-box.lb-3 {
        width: 50%;
        min-width: 160px;
        margin: 0;
    }

    .layout-box.lb-4 {
        width: 100%;
        min-width: 700px;
        max-width: 1600px;
    }

    .layout-box.lb-5 {
        min-width: 440px;
        width: 65%;
        margin: 0;
    }

    .layout-box.lb-6 {
        min-width: 234px;
        width: 34%;
        margin: 0;
    }

    .layout-box .hb-1 {
        overflow: hidden;
        height: 315px;
        margin: 0 34px 0 -30px;
        padding: 0 0 0 30px;
    }

    .layout-box .hb-2 {
        overflow: hidden;
        height: 240px;
        margin: 0 34px 0 0;
    }

    .layout-box .hb-3 {
        overflow: hidden;
        height: 90px;
        padding: 0 9px;
        margin: 0 25px 0 -9px;
    }

        .layout-box .hb-3 .header-surround {
            overflow: hidden;
        }

    .layout-box .hb-4 {
        overflow: hidden;
        height: 330px;
        margin: 0 34px 0 0;
        padding-bottom: 20px;
    }

        .layout-box .hb-4 .move-up {
            position: relative;
            top: -10px;
        }

    .layout-box .hb-5 {
        overflow: hidden;
        height: 200px;
        margin: 15px 0 0 0;
    }

        .layout-box .hb-5.pie-max {
            margin: 10px 5px 0px 0px;
            height: 260px;
        }

        .layout-box .hb-5.grid-container {
            margin: 0 0 15px 0;
        }

    .layout-box .hb-6 {
        position: relative;
        overflow: hidden;
        height: 90px;
    }

    .layout-box .hb-7 {
        overflow: hidden;
        height: 665px;
        margin: 0 34px 0 -30px;
        padding: 0 0 0 30px;
    }

    .layout-box .hb-8 {
        height: 565px;
        margin: 0 34px 10px 0;
    }

.perf-items {
    margin: 10px 0;
}

.perf-item {
    color: rgba(55,55,55,0.6);
    font-size: 12px;
    padding: 6px 8px;
    height: 32px;
    border: 0px solid #d4d4d4;
    border-width: 0 0 0 1px;
}

    .perf-item div {
        color: rgba(55,55,55,1);
        font-size: 20px;
        margin: 3px 0 0;
    }

.perf-gauges {
    text-align: center;
    margin: 20px 0 30px 0;
}

.perf-gauge {
    height: 110px;
}

.perf-gauges .perf-item {
    margin: 10px 0;
    border-width: 0;
}

.perf-graph {
    margin: 0 0 0 -30px;
    height: 170px;
}

.perf-graph div {
    height: 170px;
}

.map-graph {
    margin-top: 10px;
}

.map-graph div {
    height: 300px;
}

.pie-graph {
    height: 305px;
    min-width: 320px;
}

.forecast-graph {
    height: 90px;
    margin: 0 -9px;
}

.perf-graph-navigation {
    margin: 10px 0 0 0;
    width: 100%;
}

    .perf-graph-navigation .prev,
    .perf-graph-navigation .next {
        width: 51px;
    }

    .perf-graph-navigation .next {
        width: 46px;
    }

        .perf-graph-navigation .next div {
            margin: 0px;
        }

    .perf-graph-navigation div {
        cursor: pointer;
        text-align: center;
        padding: 7px 0 1px 0;
        margin: 0 5px 0 0;
        height: 22px;
        font-size: 14px;
        color: #ffffff;
        background: #fa6d4f;
        background: -moz-linear-gradient(top, #fa6d4f 0%, #f55f40 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fa6d4f), color-stop(100%,#f55f40));
        background: -webkit-linear-gradient(top, #fa6d4f 0%,#f55f40 100%);
        background: -o-linear-gradient(top, #fa6d4f 0%,#f55f40 100%);
        background: -ms-linear-gradient(top, #fa6d4f 0%,#f55f40 100%);
        background: linear-gradient(to bottom, #fa6d4f 0%,#f55f40 100%);
        border: 0px solid #b94c35;
        border-width: 0 0 2px 0;
        border-radius: 2px;
    }

        .perf-graph-navigation div:hover {
            background: #ff8652;
            background: -moz-linear-gradient(top, #fa6d4f 0%, #ff8652 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fa6d4f), color-stop(100%,#ff8652));
            background: -webkit-linear-gradient(top, #fa6d4f 0%,#ff8652 100%);
            background: -o-linear-gradient(top, #fa6d4f 0%,#ff8652 100%);
            background: -ms-linear-gradient(top, #fa6d4f 0%,#ff8652 100%);
            background: linear-gradient(to bottom, #fa6d4f 0%,#ff8652 100%);
        }

        .perf-graph-navigation div.disabled {
            cursor: default;
            background: #fa6d4f;
            background: -moz-linear-gradient(top, #fa6d4f 0%, #f55f40 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fa6d4f), color-stop(100%,#f55f40));
            background: -webkit-linear-gradient(top, #fa6d4f 0%,#f55f40 100%);
            background: -o-linear-gradient(top, #fa6d4f 0%,#f55f40 100%);
            background: -ms-linear-gradient(top, #fa6d4f 0%,#f55f40 100%);
            background: linear-gradient(to bottom, #fa6d4f 0%,#f55f40 100%);
        }

    .perf-graph-navigation .gap,
    .perf-graph-navigation .gap:hover {
        cursor: default;
        width: 572px;
        background: none;
        border-width: 0px;
    }

    .perf-graph-navigation .yesterday div {
        min-width: 116px;
    }

    .perf-graph-navigation .today div {
        min-width: 97px;
    }

    .perf-graph-navigation .yesterday .active,
    .perf-graph-navigation .today .active {
        background: #b53955;
        background: -moz-linear-gradient(top, #b53955 0%, #ab2d49 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b53955), color-stop(100%,#ab2d49));
        background: -webkit-linear-gradient(top, #b53955 0%,#ab2d49 100%);
        background: -o-linear-gradient(top, #b53955 0%,#ab2d49 100%);
        background: -ms-linear-gradient(top, #b53955 0%,#ab2d49 100%);
        background: linear-gradient(to bottom, #b53955 0%,#ab2d49 100%);
        border: 0px solid #7b182e;
        border-width: 0 0 2px 0;
    }

        .perf-graph-navigation .yesterday .active:hover,
        .perf-graph-navigation .today .active:hover {
            background: #d34161;
            background: -moz-linear-gradient(top, #b53955 0%, #d34161 100%);
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b53955), color-stop(100%,#d34161));
            background: -webkit-linear-gradient(top, #b53955 0%,#d34161 100%);
            background: -o-linear-gradient(top, #b53955 0%,#d34161 100%);
            background: -ms-linear-gradient(top, #b53955 0%,#d34161 100%);
            background: linear-gradient(to bottom, #b53955 0%,#d34161 100%);
        }

    .perf-graph-navigation .prev span,
    .perf-graph-navigation .next span {
        background-image: url(../img/chart-prev.png);
        display: inline-block;
        width: 16px;
        height: 16px;
        -moz-background-size: 16px 16px;
        -o-background-size: 16px 16px;
        -webkit-background-size: 16px 16px;
        background-size: 16px 16px;
        background-repeat: no-repeat;
    }

    .perf-graph-navigation .next span {
        background-image: url(../img/chart-next.png);
    }

    .perf-graph-navigation .disabled span {
        opacity: 0.25;
        cursor: default;
    }

.left-arrow,
.right-arrow {
    display: inline-block;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 35px;
    cursor: pointer;
    -moz-background-size: 25px 25px;
    -o-background-size: 25px 25px;
    -webkit-background-size: 25px 25px;
    background-size: 25px 25px;
    background-repeat: no-repeat;
}

.left-arrow {
    background-image: url(../img/prev.png);
    left: -7px;
}
    .left-arrow.disabled {
        opacity: 0.25;
        cursor: default;
    }

.right-arrow {
    background-image: url(../img/next.png);
    right: -7px;
}

    .right-arrow.disabled {
        opacity: 0.25;
        cursor: default;
    }


#gridDemo .grid-container {
    height: 100%;
    width: 100%;
}

#gridDemo .hb-6 {
    margin: 0 34px 0 0;
}

.grid-container, #gridDemo .hb-8 {
    border-bottom: 1px solid #d2d2d2;
}

.dx-datagrid .dx-datagrid-focus-overlay{
    border: 2px solid #DA5859;
}

.dx-datagrid .dx-row{
    line-height: normal;
}

#gridDemo .dx-datagrid-rowsview .dx-row.dx-group-row:first-child td {
    border-top: 1px solid #ececec;
}

.dx-texteditor {
    background: white;
}

.dx-menu-base .dx-menu-item-selected, .dx-menu-base .dx-menu-item-selected.dx-state-focused {
    background-color:   #DA5859;
}
.dx-datagrid-filter-row .dx-menu-item.dx-state-focused:after {
    border: 2px solid #DA5859;
}

.dx-menu-item.dx-state-focused{
    background-color: rgba(218, 88, 89, 0.15);
}
#salesdashboard .dx-menu-item.dx-state-focused > .dx-menu-item-content{
    background-color: rgba(0,0,0,0);
}

.dx-datagrid-rowsview .dx-group-row td {
    border-top: 1px solid #d2d2d2;
}



.dx-datagrid-rowsview .dx-group-row{
    background-color: #f4f4f4;
}

@media (min-width:1280px) {
    .layout-box.lb-5 {
        width: 60%;
    }

    .layout-box.lb-6 {
        width: 40%;
    }
}

@media (min-width:1600px) {
    .layout-box.lb-5 {
        width: 56%;
    }

    .layout-box.lb-6 {
        width: 44%;
    }
}

@media (min-height:800px) {
    .layout-box .hb-1 {
        height: 340px; /*+25px*/
    }

    .layout-box .hb-2 {
        height: 260px; /*+20px*/
    }

    .layout-box .hb-4 {
        height: 370px; /*+20px*/
    }

    .layout-box .hb-5 {
        height: 220px; /*+20px*/
    }

        .layout-box .hb-5.pie-max {
            height: 280px; /*+20px*/
        }

    .layout-box .hb-7 {
        height: 710px; /*+45px*/
    }

    .layout-box .hb-8 {
        height: 607px;
    }

    .perf-graph, .perf-graph div {
        height: 195px; /*+25px*/
    }

    .map-graph, .map-graph div {
        height: 320px; /*+45px*/
    }

    .perf-gauge {
        height: 130px; /*+20px*/
    }

    .pie-graph {
        height: 325px; /*+20px*/
    }
}

@media (min-height:900px) {
    .layout-box .hb-1 {
        height: 390px; /*+75px*/
    }

    .layout-box .hb-2 {
        height: 300px; /*+60px*/
    }

    .layout-box .hb-4 {
        height: 410px; /*+60px*/
    }

    .layout-box .hb-5 {
        height: 260px; /*+60px*/
    }

        .layout-box .hb-5.pie-max {
            height: 320px; /*+60px*/
        }

    .layout-box .hb-7 {
        height: 800px; /*+135px*/
    }

    .layout-box .hb-8 {
        height: 707px;
    }

    .perf-graph, .perf-graph div {
        height: 245px; /*+75px*/
    }

    .map-graph, .map-graph div {
        height: 360px; /*+135px*/
    }

    .perf-gauge {
        height: 170px; /*+60px*/
    }

    .pie-graph {
        height: 365px; /*+60px*/
    }
}

@media (min-height:970px) {
    .layout-box .hb-1 {
        height: 440px; /*+125px*/
    }

    .layout-box .hb-2 {
        height: 330px; /*+90px*/
    }

    .layout-box .hb-4 {
        height: 440px; /*+90px*/
    }

    .layout-box .hb-5 {
        height: 290px; /*+90px*/
    }

        .layout-box .hb-5.pie-max {
            height: 350px; /*+90px*/
        }

    .layout-box .hb-7 {
        height: 880px; /*+215px*/
    }

    .layout-box .hb-8 {
        height: 777px;
    }

    .perf-graph, .perf-graph div {
        height: 295px; /*+125px*/
    }

    .map-graph, .map-graph div {
        height: 390px; /*+215px*/
    }

    .perf-gauge {
        height: 200px; /*+90px*/
    }

    .pie-graph {
        height: 395px; /*+90px*/
    }
}

@media (min-height:1050px) {
    .layout-box .hb-1 {
        height: 510px; /*+195px*/
    }

    .layout-box .hb-2 {
        height: 380px; /*+140px*/
    }

    .layout-box .hb-4 {
        height: 490px; /*+140px*/
    }

    .layout-box .hb-5 {
        height: 340px; /*+140px*/
    }

        .layout-box .hb-5.pie-max {
            height: 400px; /*+140px*/
        }

    .layout-box .hb-7 {
        height: 1000px; /*+335px*/
    }

    .layout-box .hb-8 {
        height: 857px;
    }

    .perf-graph, .perf-graph div {
        height: 365px; /*+195px*/
    }

    .map-graph, .map-graph div {
        height: 440px; /*+335px*/
    }

    .perf-gauge {
        height: 250px; /*+140px*/
    }

    .pie-graph {
        height: 445px; /*+140px*/
    }
}
